* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: #444;
  font-family: Cambria, 'Times New Roman', serif;
}

a {
  text-decoration: none;
  color: #444;
  transition: .4s;

  &:hover {
    color: #dec129;
  }
}